<div class="card shadow-sm">
  <div class="card-body">
    <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/cobone/create'">
      <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </a>
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter">
          <div class="col-lg-3 col-md-6 col-sm-12 mt-2">
            <p>{{ "field.coboneStatus" | translate }}</p>
            <select
              [(ngModel)]="filter.IsActive"
              class="form-select form-select-solid"
            >
              <option [ngValue]="null">
                {{ "field.all" | translate }}
              </option>
              <option [ngValue]="'true'">
                {{ "field.active" | translate }}
              </option>
              <option [ngValue]="'false'">
                {{ "field.not_active" | translate }}
              </option>
            </select>
          </div>
        </app-filter>
      </div>
    </div>

    <app-table
      [filter]="filter"
      [list]="Cobonelist"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigate($event, formMode.View)"
      (edit)="navigate($event, formMode.Edit)"
      [showDelete]="false"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      [addActions]="true"
      [showActivation]="true"
      (changeActivation)="changeActivation($event)"
      [actionList]="[
        {
          title: 'reports.CoponeDeliveryDetailsReport',
          icon: 'fa-truck',
          type: 'product'
        }
      ]"
      (aciton)="navigateTO($event)"
    ></app-table>
  </div>
</div>
