<div class="card shadow-sm">
  <div class="card-body">
    <button class="btn btn-sm btn-primary mb-3" (click)="navigateToCreate()">
      <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </button>
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter"></app-filter>
      </div>
    </div>
    <app-table
      [filter]="filter"
      [list]="productBranchList"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      [showDelete]="false"
      [showEdit]="false"
      [showView]="false"
      [showActivation]="true"
      (changeActivation)="changeActivation($event)"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
    ></app-table>
  </div>
</div>

<!-- (search)="searchValue($event)" -->
