<!--begin::Title-->
<div class="text-center mb-10">
  <h1 class="text-white mb-3">
    {{ "menu.Forget_Password" | translate }}
  </h1>
</div>
<!--end::Title-->

<form
  class="form w-100 fv-plugins-bootstrap5 fv-plugins-framework"
  novalidate="novalidate"
  [formGroup]="form"
  id="kt_login_password_reset_form"
>
  <aw-wizard #WizardComponent>
    <aw-wizard-step stepTitle="{{'field.email' | translate}}"  [awOptionalStep]="false">
      <div class="row my-5">
        <div class="col-md-12 col-sm-12">
          <label class="form-label text-white">{{
            "field.email" | translate
          }}</label>
          <input
            type="text"
            formControlName="userName"
            class="form-control form-control-solid"
            :placeholder="{{ 'field.email' | translate }}"
          />
          <div
            *ngIf="
              !form.get('userName').valid &&
              (form.get('userName').dirty || form.get('userName').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('userName').hasError('required')">
              {{ "_.required" | translate }}
            </p>
            <p *ngIf="form.get('userName').hasError('email')">
              {{ "_.email" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 col-sm-12 mx-auto text-center">
          <button type="button"  class="btn btn-primary btn-block btn-hover-scale" (click)="getOTP()">
            {{ "action.next" | translate }}
          </button>
        </div>
      </div>
     
    </aw-wizard-step>
    <aw-wizard-step stepTitle="{{'forgetPassword.otp' | translate}}">
      <div class="row">
        <div class="col-md-12 col-sm-12 my-3">
          <label class="form-label text-white">{{
            "forgetPassword.otp" | translate
          }}</label>
          <input
            type="text"
            formControlName="otp"
            class="form-control form-control-solid"
            :placeholder="{{ 'forgetPassword.otp' | translate }}"
          />
          <div
            *ngIf="
              !form.get('otp').valid &&
              (form.get('otp').dirty || form.get('otp').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('otp').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12 col-sm-12 mx-auto">
          <button type="button" class="btn btn-primary btn-block" (click)="getOTP('nextStep')">
            {{ "action.resendOTP" | translate }}
          </button>
        </div>
        <div class="col-md-12 col-sm-12 mx-auto mt-3">
          <button type="button" class="btn btn-primary btn-block" (click)="sendOTP()">
            {{ "action.next" | translate }}
          </button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step stepTitle="{{'forgetPassword.newPassword' | translate}}">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <label class="form-label text-white">{{
            "forgetPassword.newPassword" | translate
          }}</label>
          <input
            type="password"
            formControlName="newPassword"
            class="form-control form-control-solid"
            :placeholder="{{ 'forgetPassword.newPassword' | translate }}"
          />
          <div
            *ngIf="
              !form.get('newPassword').valid &&
              (form.get('newPassword').dirty || form.get('newPassword').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('newPassword').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-6 col-sm-12 mx-auto">
          <button type="button" class="btn btn-primary mx-auto" (click)="resetPassword()">
            {{ "action.next" | translate }}
          </button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</form>

<!--end::Form-->
