<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">{{ "menu.polygon" | translate }}</h3>
    <div class="card-toolbar">
      <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/polygon/create'">
        <i class="fas fa-plus"></i>
        {{ "action.create" | translate }}
      </a>
    </div>
  </div>
  <div class="card bg-secondary">
    <div class="card-body">
      <app-filter [filter]="filter"></app-filter>
   <div class="row">
    <div class="col-md-4 col-sm-12">
      <p class="font-weight-bolder">
        {{ "field.districtType" | translate }}
      </p>
      <select
      [(ngModel)]="filter.polygonType"
        class="form-select form-select-solid"
      >
        <option [value]="shop.id" *ngFor="let shop of polygonTypeList">
          {{ currentLanguage == "en" ? shop.name : shop.nameAr }}
        </option>
      </select>
    </div>
    <div class="col-md-4 col-sm-12">
      <p class="font-weight-bolder">
        {{ "field.serviceType" | translate }}
      </p>
      <select
        [(ngModel)]="filter.orderType"
        class="form-select form-select-solid"
      >
 
        <option [value]="shop.id" *ngFor="let shop of orderTypeList">
          {{ currentLanguage == "en" ? shop.name : shop.nameAr }}
        </option>
      </select>
    </div>
   </div>
    </div>
  </div>
  <div class="card-body">
    <app-table
      [list]="list"
      [titles]="titles"
      [properties]="properties"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      [showDelete]="true"
      [showEdit]="false"
      [showView]="true"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      (view)="navigateToView($event)"
      (delete)="deleteItem($event)"
      [showActivation]="true"
      (changeActivation)="changeActivation($event)"
    >
    </app-table>
  </div>
</div>
