<div class="card shadow-sm">
  <div class="card-header">
    <h3 class="card-title">{{ "menu.foodType" | translate }}</h3>
  </div>
  <div class="card-body">
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter"></app-filter>
      </div>
    </div>
    <a
      *ngIf="isShopId"
      class="btn btn-sm btn-primary mx-2 mt-2"
      (click)="navigateToCreateFoodShop()"
    >
      <i class="fas fa-plus"></i>
      {{ "field.createFoodShop" | translate }}
    </a>
    <a
      *ngIf="!isShopId"
      class="btn btn-sm btn-primary mx-2 mt-2"
      (click)="navigateToCreateFoodShopByProductDetailsId()"
    >
      <i class="fas fa-plus"></i>
      {{ "field.createFoodShop" | translate }}
    </a>
    <app-table
      [list]="list"
      [filter]="filter"
      [titles]="titles"
      create
      [properties]="properties"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigateToView($event)"
      (edit)="navigateToEdit($event)"
      (delete)="deleteItem($event)"
      [showDelete]="true"
      [showView]="false"
      [showEdit]="false"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      [addActions]="false"
      [actionList]="[
        {
          title: 'product.productDetails',
          icon: 'fa-info-circle',
          type: 'productDetails'
        }
      ]"
      (aciton)="navigateTO($event)"
    ></app-table>
  </div>
</div>
