<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">
      <span> {{ mode | translate }} - </span>
      <span class="mx-2"> {{ "menu.Cobone" | translate }} </span>
    </h3>
  </div>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="row my-5">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "shop.shop_name" | translate }}</label>
          <!-- <select
            formControlName="shopId"
            class="form-select form-select-solid"
          >
            <option [value]="item.id" *ngFor="let item of shopList">
              {{ currentLanguage == "en" ? item.name : item.nameAr }}
            </option>
          </select> -->
          <p-dropdown
            [options]="shopList"
            style="display:block"
            [filter]="true" 
            [filterBy]="currentLanguage == 'en' ? 'name' : 'nameAr'"
            [optionLabel]="currentLanguage == 'en' ? 'name' : 'nameAr'"
            formControlName="shopId"
            optionValue="id"
          ></p-dropdown>
          <div
            *ngIf="
              !form.get('shopId').valid &&
              (form.get('shopId').dirty || form.get('shopId').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('shopId').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "field.coboneType" | translate }}</label>
          <select
            formControlName="coboneType"
            class="form-select form-select-solid"
          >
            <option [value]="item.id" *ngFor="let item of coboneTypeList">
              {{ currentLanguage == "en" ? item.name : item.nameAr }}
            </option>
          </select>
          <div
            *ngIf="
              !form.get('coboneType').valid &&
              (form.get('coboneType').dirty || form.get('coboneType').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('coboneType').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "cobone.cobone" | translate }}</label>
          <input
            type="text"
            formControlName="coboneCode"
            class="form-control form-control-solid"
            placeholder="{{ 'cobone.cobone' | translate }}"
          />
          <div
            *ngIf="
              !form.get('coboneCode').valid &&
              (form.get('coboneCode').dirty || form.get('coboneCode').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('coboneCode').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 col-sm-12">
          <label class="form-label d-block">{{
            "offer.expiryAt" | translate
          }}</label>
          <!-- <input type="date" formControlName="expiryDate" class="form-control form-control-solid" placeholder="{{'offer.expiryAt'|translate }}"/> -->
          <p-calendar
            formControlName="expiryDate"
            [inline]="false"
            placeholder="{{ 'offer.expiryAt' | translate }}"
          ></p-calendar>
          <div
            *ngIf="
              !form.get('expiryDate').valid &&
              (form.get('expiryDate').dirty || form.get('expiryDate').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('expiryDate').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{ "provider.amount" | translate }}</label>
          <input
            type="number"
            formControlName="amount"
            class="form-control form-control-solid"
            placeholder="{{ 'provider.amount' | translate }}"
          />
          <div
            *ngIf="
              !form.get('amount').valid &&
              (form.get('amount').dirty || form.get('amount').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('amount').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
      </div>

      <div class="row my-5">
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{
            "cobone.Limitation" | translate
          }}</label>
          <input
            type="number"
            formControlName="limitation"
            class="form-control form-control-solid"
            placeholder="{{ 'cobone.Limitation' | translate }}"
          />
          <div
            *ngIf="
              !form.get('limitation').valid &&
              (form.get('limitation').dirty || form.get('limitation').touched)
            "
            class="text text-danger"
          >
            <p *ngIf="form.get('limitation').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{
            "field.customerLimit" | translate
          }}</label>
          <input
            type="number"
            formControlName="numberOfUse"
            class="form-control form-control-solid"
            placeholder="{{ 'field.customerLimit' | translate }}"
          />
          <div
            *ngIf="
              !form.get('numberOfUse').valid &&
              (form.get('numberOfUse').dirty || form.get('numberOfUse').touched)
            "
            class="text text-danger"
          >
          <p *ngIf="form.get('numberOfUse').hasError('required')">
            {{ "_.required" | translate }}
          </p>

          <p *ngIf="form.get('numberOfUse').hasError('min')">
            {{ "_.min" | translate : {value:0} }}
          </p>
          </div>
        </div>
       
      </div>
      <div class="row my-4">
        <div class="col-md-6 col-sm-12">
          <p>{{ "field.activation" | translate }}</p>
          <div class="row">
            <div class="col-4 mx-auto">
              <label class="form-check form-check-custom form-check-solid">
                <input class="form-check-input mx-2" type="radio" [value]="true" name="isActive" formControlName="isActive" />
                <span class="form-check-label">
                  {{ "field.active" | translate }}
                </span>
              </label>
            </div>
            <div class="col-4 mx-auto">
              <label class="form-check form-check-custom form-check-solid">
                <input class="form-check-input mx-2" type="radio" [value]="false" name="isActive" formControlName="isActive" />
                <span class="form-check-label">
                  {{ "field.not_active" | translate }}
                </span>
              </label>
            </div>
          </div>
          <div *ngIf="
                      !form.get('isActive').valid &&
                      (form.get('isActive').dirty || form.get('isActive').touched)
                    " class="text text-danger">
            <p *ngIf="form.get('isActive').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
        <div class="col-md-6 col-sm-12">
          <label class="form-label">{{
            "maxPercentageValue" | translate
            }}</label>
          <input type="number" formControlName="maxPercentageValue" class="form-control form-control-solid"
            placeholder="{{ 'maxPercentageValue' | translate }}" />
          <div *ngIf="
                              !form.get('maxPercentageValue').valid &&
                              (form.get('maxPercentageValue').dirty || form.get('maxPercentageValue').touched)
                            " class="text text-danger">
            <p *ngIf="form.get('maxPercentageValue').hasError('required')">
              {{ "_.required" | translate }}
            </p>
          </div>
        </div>
      </div>
      <div class="row my-5">
        <div class="col-md-10 mx-auto col-sm-12">
          <label class="form-label">{{ "field.note" | translate }}</label>
          <textarea
            type="text"
            rows="4"
            formControlName="note"
            class="form-control form-control-solid"
            placeholder="{{ 'field.note' | translate }}"
          ></textarea>
        </div>
      </div>

      <div class="row my-5" *ngIf="mode != 'View'">
        <div class="col-md-4 col-sm-12 mx-auto text-center">
          <button
            type="submit"
            class="btn btn-primary btn-block btn-hover-scale"
          >
            {{ "action.save" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
