<div class="card card-flush shadow-sm">
    <div class="card-header">
      <h3 class="card-title">{{ "menu.faqs" | translate }}</h3>
    </div>
    <div class="card-body">
      <div class="card bg-secondary">
        <div class="card-body">
          <app-filter [filter]="filter"></app-filter>
        </div>
      </div>
      <app-table
        [list]="list"
        [titles]="titles"
        [properties]="properties"
        [pagination]="pagination"
        (activetedPageSize)="setPageSize($event)"
        (activetedPageNumber)="setPageNumber($event)"
        [showDelete]="false"
        [showEdit]="false"
        [showView]="false"
        [showPagination]="false"
        [showSearch]="true"
        (search)="searchValue()"
        (resetFilter)="resetfilter()"
      ></app-table>
    </div>
  </div>
  