<div class="card shadow-sm">
  <div class="card-body">
    <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/car-name/create'">
      <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </a>
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <p class="font-weight-bolder">
              {{ "shop.shop_type" | translate }}
            </p>
            <select
              (change)="setCarModel($event.target['value'])"
              class="form-select form-select-solid"
            >
              <option [value]="''">
                {{ "field.CarModelId" | translate }}
              </option>
              <option [value]="shop.id" *ngFor="let shop of carModelList">
                {{ currentLanguage == "en" ? shop.name : shop.nameAr }}
              </option>
            </select>
          </div>
        </app-filter>
      </div>
    </div>
    <app-table
      [filter]="filter"
      [list]="CarNameList"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigateToView($event)"
      (edit)="navigateToEdit($event)"
      [showDelete]="false"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      [showActivation]="true"
      (changeActivation)="changeActivation($event)"
    ></app-table>
  </div>
</div>
