<div class="card shadow-sm">
  <div class="card-header">
    <div class="card-toolbar">
      <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/banner/create'">
        <i class="fas fa-plus"></i>
        {{ "action.create" | translate }}
      </a>
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body">
      <app-filter [filter]="filter">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <label class="form-label">{{ "shop.shop_name" | translate }}</label>
          <select
            [(ngModel)]="filter.ShopId"
            class="form-select form-select-solid"
          >
            <option [value]="item.id" *ngFor="let item of shopList">
              {{ currentLanguage == "en" ? item.name : item.nameAr }}
            </option>
          </select>
        </div>
      </app-filter>
    </div>
  </div>
  <div class="card-body">
    <app-table
      [filter]="filter"
      [list]="bannerList"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigateToView($event)"
      (edit)="navigateToEdit($event)"
      (delete)="deleteBanner($event)"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      [showActivation]="true"
      (changeActivation)="changeActivation($event)"
    >
    </app-table>
  </div>
</div>
