<!-- <button type="button" class="btn btn-dark btn-block mx-2 btn-sm mt-1" *ngIf="list.length"
  (click)="downloadAsExcelFile()">
   <i class="fas fa-download"></i>
   {{'action.download'|translate }}
 </button> -->

<div class="row mt-2">
  <div class="mb-2 d-flex justify-content-end">
    <p-button
      title="{{ 'field.refresh' | translate }}"
      *ngIf="isReload"
      (click)="Reload()"
      icon="pi pi-refresh"
      styleClass="p-button-rounded p-button-primary  p-button-outlined mx-1"
    ></p-button>
    <p-button
      title="{{ 'action.downloadAll' | translate }}"
      *ngIf="isdownloadAll"
      (click)="downloadAllData()"
      icon="pi pi-save"
      styleClass="p-button-rounded p-button-secondary  p-button-outlined mx-1"
    ></p-button>
    <p-button
      title="{{ 'action.search' | translate }}"
      *ngIf="showSearch"
      (click)="searchValue()"
      icon="pi pi-search"
      styleClass="p-button-rounded p-button-success  p-button-outlined mx-1"
    ></p-button>
    <p-button
      title="{{ 'action.reset' | translate }}"
      *ngIf="showSearch"
      (click)="reset()"
      icon="pi pi-trash"
      styleClass="p-button-rounded p-button-danger  p-button-outlined mx-1"
    ></p-button>
  </div>
  <div class="">
    <table
      class="table table-hover table-rounded table-striped border gy-7 gs-7"
    >
      <thead class="text-dark" style="background: #d0e1fd">
        <tr class="">
          <th class="text-cetner" *ngIf="pagination.pageNumber">#</th>
          <th
            *ngFor="let title of titles; let i = index"
            class="text-center property-title"
          >
            <i
              class="fa fa-caret-up pointer px-1"
              [ngClass]="{
                'text-success':
                  sortedProperty.title == title &&
                  sortedProperty.sortType == 'up'
              }"
              (click)="sortData('up', i, title)"
              aria-hidden="true"
            ></i>
            <i
              [ngClass]="{
                'text-success':
                  sortedProperty.title == title &&
                  sortedProperty.sortType == 'down'
              }"
              (click)="sortData('down', i, title)"
              class="fa fa-caret-down pointer px-1"
              aria-hidden="true"
            ></i>
            <span>
              {{ title | translate }}
            </span>
          </th>
          <th *ngIf="showAnotherCheck" class="text-center">
            {{ AnotherCheckTitelName | translate }}
          </th>
          <th *ngIf="showActivation" class="text-center">
            {{ "field.activation" | translate }}
          </th>
          <th
            *ngIf="
              (showDelete || showEdit || showView || addActions) && hideActions
            "
            class="text-center"
          >
            {{ "action.actions" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <!-- [pTooltip]="getObjectData(item)" -->
        <tr
          *ngFor="let item of list; let i = index"
          class="slideDown"
          [attr.data-change-color]="item.changeColour ? true : false"
          [attr.data-partner]="item.isPartner == true ? true : ''"
          [attr.data-not-partner]="item.isPartner == false ? false : ''"
          tooltipPosition="left"
          [escape]="false"
        >
          <td
            class="text-center font-weight-bolder px-2"
            *ngIf="pagination.pageNumber"
          >
            <h5>
              <strong>
                {{ i + 1 + (pagination.pageNumber - 1) * pagination.pageSize }}
              </strong>
            </h5>
          </td>
          <td
            [attr.data-prop]="prop"
            [attr.data-value]="item[prop]"
            *ngFor="let prop of properties"
            class="text-center"
          >
            <img
              [data-prop]="item[prop]"
              [src]="item[prop]"
              *ngIf="
                (prop == 'moneyTransferImage' || prop == 'backgroundImage') &&
                item[prop] != null
              "
              width="75"
              height="75"
              (click)="viewImage(item[prop])"
              style="border-radius: 50%"
            />
            <span
              *ngIf="
                prop == 'createAt' ||
                prop == 'createdAt' ||
                prop == 'bookingDate' ||
                prop == 'startAt' ||
                prop == 'lastLogin' ||
                prop == 'expiryDate' ||
                prop == 'endAt'
              "
            >
              {{ item[prop] | date : "MMM d, y - h:mm a" }}
            </span>
            <span
              backgroundImage
              *ngIf="
                prop != 'createAt' &&
                prop != 'createdAt' &&
                prop != 'bookingDate' &&
                prop != 'startAt' &&
                prop != 'moneyTransferImage' &&
                prop != 'backgroundImage' &&
                prop != 'lastLogin' &&
                prop != 'expiryDate' &&
                prop != 'endAt'
              "
            >
              {{ item[prop] }}
            </span>
          </td>
          <td class="text-center" *ngIf="showAnotherCheck">
            <label
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              <input
                class="form-check-input mx-auto"
                [disabled]="disabledCheckBox"
                type="checkbox"
                [value]="true"
                [(ngModel)]="item[AnotherCheckPropName]"
                (ngModelChange)="changeAnotherCheckCol(i)"
              />
            </label>
          </td>
          <td class="text-center" *ngIf="showActivation">
            <label
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              <input
                [disabled]="disabledCheckBox"
                class="form-check-input mx-auto"
                type="checkbox"
                :value="true"
                [(ngModel)]="item.isActive"
                (ngModelChange)="changeActivationCol(i)"
              />
            </label>
          </td>
          <td
            class="text-center d-flex justify-content-center align-items-center"
            *ngIf="
              (showDelete || showEdit || showView || addActions) && hideActions
            "
          >
            <i
              title="{{ 'View' | translate }}"
              class="far fa-eye text-primary"
              *ngIf="showView"
              (click)="View(item)"
            ></i>
            <i
              title="{{ 'Edit' | translate }}"
              class="las la-edit"
              *ngIf="showEdit"
              (click)="Edit(item)"
            ></i>
            <i
              title="{{ 'Delete' | translate }}"
              class="far fa-edit text-warning"
              *ngIf="showDelete"
              (click)="Delete(item)"
            ></i>
            <span *ngIf="addActions" style="position: relative">
              <p-button
                title="{{ 'field.refresh' | translate }}"
                (click)="menu.toggle($event)"
                icon="pi pi-bars"
                styleClass="p-button-rounded p-button-info p-button-text"
              ></p-button>
              <p-menu
                #menu
                [model]="actionList"
                [popup]="true"
                (click)="EmitAaction($event, item)"
              ></p-menu>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="d-flex justify-content-between" *ngIf="showPagination">
  <div class="p-2 text-right">
    <select
      [disabled]="busyLoading"
      class="form-select form-select-solid"
      (input)="pageSizeChanged($event.target['value'])"
      [(ngModel)]="pageSize"
    >
      <option [ngValue]="rowsNum" *ngFor="let rowsNum of rowsNumber">
        {{ rowsNum }}
      </option>
    </select>

    <!--end::Page Number-->
  </div>
  <div class="p-2">
    <ul class="pagination">
      <li
        class="page-item previous disabled"
        (click)="sendPageNumber(active - 1)"
        *ngIf="pagination.totalPagesCount > 1 && active > 1"
      >
        <span class="page-link text-dark font-weight-bolder">
          {{ "global.previous" | translate }}
        </span>
      </li>
      <li
        class="page-item"
        [ngClass]="{ active: item + 1 == active }"
        *ngFor="
          let item of pagination.totalPagesCount | demoNumber;
          let i = index
        "
        (click)="sendPageNumber(item + 1)"
      >
        <a class="page-link">
          {{ item + 1 }}
        </a>
      </li>

      <li
        class="page-item next"
        (click)="sendPageNumber(active + 1)"
        *ngIf="
          pagination.totalPagesCount > 1 && active < pagination.totalPagesCount
        "
      >
        <a class="page-link text-dark font-weight-bolder">
          {{ "global.next" | translate }}
        </a>
      </li>
    </ul>
  </div>
  <div class="p-2 mx-3">
    <p *ngIf="pagination.pageSize" class="font-weight-bolder">
      <strong>
        {{ pagination.pageSize * pagination.pageNumber }} -
        {{ pagination.totalItemCount }}
      </strong>
    </p>
  </div>
</div>
<img-viewer #imgViewer></img-viewer>
