<form [formGroup]="form">
  <div class="row mb-1 mt-2 d-flex justify-content-between">
    <div class="col-md-3 col-sm-12">
      <div
        class="alert alert-primary mt-4 text-center"
        role="alert"
        *ngIf="pagination.totalItemCount"
      >
        <strong>
          {{ "field.total" | translate }} : {{ pagination.totalItemCount }}
        </strong>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 d-flex justify-content-end my-4">
      <button
        type="button"
        class="btn btn-outline btn-outline-dashed btn-outline-info btn-active-light-info mt-1"
        *ngIf="isdownloadAll"
        (click)="downloadAllData()"
      >
        <i class="fas fa-download"></i>
        {{ "action.downloadAll" | translate }}
      </button>
      <!-- <button type="button" class="btn btn-dark btn-block mx-2 btn-sm mt-1" *ngIf="list.length"
        (click)="downloadAsExcelFile()">
         <i class="fas fa-download"></i>
         {{'action.download'|translate }}
       </button> -->
      <button
        *ngIf="showSearch"
        type="button"
        class="btn btn-outline btn-outline-dashed btn-outline-primary btn-active-light-primary mx-2"
        (click)="searchValue()"
      >
        <i class="fas fa-search text-primary"></i>
        {{ "action.search" | translate }}
      </button>
      <button
        *ngIf="showSearch"
        type="button"
        class="btn btn-outline btn-outline-dashed btn-outline-danger btn-active-light-danger"
        (click)="reset()"
      >
        <i class="far fa-trash-alt text-danger"></i>
        {{ "action.reset" | translate }}
      </button>
      <button
      type="button"
      title="{{ 'field.refresh' | translate }}"
      class="mx-2 btn text-dark"
      *ngIf="isReload"
      (click)="Reload()"
    >
    <i class="fas fa-sync-alt"></i>
    </button>
    </div>
  </div>
</form>
<div class="row">
  <div class="table-responsive">
    <table
      class="table table-hover table-rounded table-striped border gy-7 gs-7"
    >
      <thead>
        <tr class="">
          <th class="text-cetner" *ngIf="pagination.pageNumber">#</th>
          <th *ngFor="let title of titles" class="text-center">
            {{ title | translate }}
          </th>
          <th *ngIf="showAnotherCheck" class="text-center">
            {{ AnotherCheckTitelName | translate }}
          </th>
          <th *ngIf="showActivation" class="text-center">
            {{ "field.activation" | translate }}
          </th>
          <th *ngIf="(showDelete || showEdit || showView || addActions) && hideActions" class="text-center">
            {{ "action.actions" | translate }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of list; let i = index"
          class="slideDown"
          [attr.data-change-color]="item.changeColour ? true : false"
          [attr.data-partner]="item.isPartner == true ? true : ''"
          [attr.data-not-partner]="item.isPartner == false ? false : ''"
        >
          <td
            class="text-center font-weight-bolder"
            *ngIf="pagination.pageNumber"
          >
            <h5>
              <strong>
                {{ i + 1 + (pagination.pageNumber - 1) * pagination.pageSize }}
              </strong>
            </h5>
          </td>
          <td *ngFor="let prop of properties" class="text-center">
            <img
              [src]="item[prop]"
              *ngIf="prop == 'moneyTransferImage' && item[prop] != null"
              width="75"
              height="75"
              (click)="viewImage(item[prop])"
              style="border-radius: 50%"
            />
            <span
              *ngIf="
                prop == 'createAt' ||
                prop == 'bookingDate' ||
                prop == 'startAt' ||
                prop == 'lastLogin' ||
                prop == 'endAt'
              "
            >
              {{ item[prop] | date: "MMM d, y - h:mm a" }}
            </span>
            <span
              *ngIf="
                prop != 'createAt' &&
                prop != 'bookingDate' &&
                prop != 'startAt' &&
                prop != 'moneyTransferImage' &&
                prop != 'lastLogin' &&
                prop != 'endAt'
              "
            >
              {{ item[prop] }}
            </span>
          </td>
          <td class="text-center" *ngIf="showAnotherCheck">
            <label
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              <input
                class="form-check-input mx-auto"
                type="checkbox"
                :value="true"
                [(ngModel)]="item[AnotherCheckPropName]"
                (ngModelChange)="changeAnotherCheckCol(i)"
              />
            </label>
          </td>
          <td class="text-center" *ngIf="showActivation">
            <label
              class="form-check form-check-sm form-check-custom form-check-solid"
            >
              <input
                class="form-check-input mx-auto"
                type="checkbox"
                :value="true"
                [(ngModel)]="item.isActive"
                (ngModelChange)="changeActivationCol(i)"
              />
            </label>
          </td>
          <td
            class="text-center d-flex justify-content-center"
            *ngIf="(showDelete || showEdit || showView || addActions) && hideActions"
          >
            <i
              title="{{ 'View' | translate }}"
              class="lar la-eye"
              *ngIf="showView"
              (click)="View(item)"
            ></i>
            <i
              title="{{ 'Edit' | translate }}"
              class="las la-edit"
              *ngIf="showEdit"
              (click)="Edit(item)"
            ></i>
            <i
              title="{{ 'Delete' | translate }}"
              class="las la-trash-alt"
              *ngIf="showDelete"
              (click)="Delete(item)"
            ></i>
            <span *ngIf="addActions">
              <i
                title="{{ action.title | translate }}"
                [class]="action.icon"
                class="las customAction"
                *ngFor="let action of actionList"
                (click)="EmitAaction(item, action)"
              ></i>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row" *ngIf="showPagination">
  <div class="col-2 text-right">
    <select
      [disabled]="busyLoading"
      class="form-select form-select-solid"
      (input)="pageSizeChanged($event.target['value'])"
      [(ngModel)]="pageSize"
    >
      <option [ngValue]="rowsNum" *ngFor="let rowsNum of rowsNumber">
        {{ rowsNum }}
      </option>
    </select>

    <!--end::Page Number-->
  </div>
  <div class="col-10">
    <ul class="pagination">
      <li
        class="page-item previous disabled"
        (click)="sendPageNumber(active - 1)"
        *ngIf="pagination.totalPagesCount > 1 && active > 1"
      >
        <span class="page-link text-dark font-weight-bolder">
          {{ "global.previous" | translate }}
        </span>
      </li>
      <li
        class="page-item"
        [ngClass]="{ active: item + 1 == active }"
        *ngFor="
          let item of pagination.totalPagesCount | demoNumber;
          let i = index
        "
        (click)="sendPageNumber(item + 1)"
      >
        <a class="page-link">
          {{ item + 1 }}
        </a>
      </li>

      <li
        class="page-item next"
        (click)="sendPageNumber(active + 1)"
        *ngIf="
          pagination.totalPagesCount > 1 && active < pagination.totalPagesCount
        "
      >
        <a class="page-link text-dark font-weight-bolder">
          {{ "global.next" | translate }}
        </a>
      </li>
    </ul>
  </div>
</div>
<img-viewer #imgViewer></img-viewer>
