.la-trash-alt{
    color:black;
    &:hover{
        color:red;
        cursor: pointer;
    }
}
.la-edit{
    color:black;
    &:hover{
        color:rgb(255, 185, 33);
        cursor: pointer;
    }
}
.la-eye{
    color:black;
    &:hover{
        color:rgb(0, 174, 255);
        cursor: pointer;
    }
}
.customAction{
    color:black;
    &:hover{
        color:rgb(83, 192, 56);
        cursor: pointer;
    }
}
.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;
	animation-duration: 1s;	
	-webkit-animation-duration: 1s;
	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;	
	visibility: visible !important;						
}

@keyframes slideDown {
	0% {
		transform: translateY(-100%);
	}
	50%{
		transform: translateY(8%);
	}
	65%{
		transform: translateY(-4%);
	}
	80%{
		transform: translateY(4%);
	}
	95%{
		transform: translateY(-2%);
	}			
	100% {
		transform: translateY(0%);
	}		
}
@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-100%);
	}
	50%{
		-webkit-transform: translateY(8%);
	}
	65%{
		-webkit-transform: translateY(-4%);
	}
	80%{
		-webkit-transform: translateY(4%);
	}
	95%{
		-webkit-transform: translateY(-2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}

table{
	border: 1px solid rgb(0 0 0) !important;
    box-shadow: 0px 2px 6px black;
	background: rgb(11 114 181 / 25%);
}
tbody tr:hover{
	transform: scale(1.03);
	box-shadow: 0px 1px 6px black;

}

td{
	i{
		font-size: 30px
	}
}