<div class="card card-flush shadow-sm">
    <div class="card-header">
        <h3 class="card-title">
            <span>
    {{mode|translate }} -
  </span>
            <span class="mx-2"> {{'forgetPassword.name'|translate }} </span>
        </h3>
    </div>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">
            <div class="row my-5">
                <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{
            "forgetPassword.userName" | translate
          }}</label>
                    <input type="text" formControlName="userName" class="form-control form-control-solid" :placeholder="{{ 'forgetPassword.userName' | translate }}" />
                    <div *ngIf="
              !form.get('userName').valid &&
              (form.get('userName').dirty ||
                form.get('userName').touched)
            " class="text text-danger">
                        <p *ngIf="form.get('userName').hasError('required')">
                            {{ "_.required" | translate }}
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{
            "forgetPassword.otp" | translate
          }}</label>
                    <input type="text" formControlName="otp" class="form-control form-control-solid" :placeholder="{{ 'forgetPassword.otp' | translate }}" />
                    <div *ngIf="
              !form.get('otp').valid &&
              (form.get('otp').dirty ||
                form.get('otp').touched)
            " class="text text-danger">
                        <p *ngIf="form.get('otp').hasError('required')">
                            {{ "_.required" | translate }}
                        </p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <label class="form-label">{{
          "forgetPassword.newPassword" | translate
        }}</label>
                    <input type="password" formControlName="newPassword" class="form-control form-control-solid" :placeholder="{{ 'forgetPassword.newPassword' | translate }}" />
                    <div *ngIf="
            !form.get('newPassword').valid &&
            (form.get('newPassword').dirty ||
              form.get('newPassword').touched)
          " class="text text-danger">
                        <p *ngIf="form.get('newPassword').hasError('required')">
                            {{ "_.required" | translate }}
                        </p>
                    </div>
                </div>

            </div>





            <div class="row my-5" *ngIf="mode != 'View'">
                <div class="col-md-4 col-sm-12 mx-auto text-center">
                    <button type="submit" class="btn btn-primary btn-block btn-hover-scale">
        {{ "action.save" | translate }}
      </button >
            </div>
        </div>
    </form>
</div>
</div>