<div class="card">
  <div class="card-body">
    <div class="row">
      <h3 class="card-title my-3">
        {{ "product.productDetails" | translate }}
      </h3>
      <div class="col-md-3 col-sm-12">
        <button
          class="btn btn-sm btn-primary mb-3"
          (click)="navigateToCreate()"
        >
          <i class="fas fa-plus"></i>
          {{ "action.create" | translate }}
        </button>
      </div>

      <app-table
        [list]="productDetailslist"
        [titles]="titles"
        [properties]="properties"
        [showPagination]="false"
        (view)="navigateToView($event)"
        (edit)="navigateToEdit($event)"
        [showActivation]="true"
        (changeActivation)="changeActivation($event)"
        [showDelete]="false"
        [showSearch]="false"
        [showView]="true"
        [showEdit]="true"
        [addActions]="true"
        [actionList]="[
          {
            title: 'product.productDetailsSize',
            icon: 'fa-ruler',
            type: 'productDetailsSize'
          },
          {
            title: 'product.components',
            icon: ' fa-hamburger ',
            type: 'components'
          },
          {
            title: 'menu.additionalComponentTitle',
            icon: ' fa-keyboard',
            type: 'additionalComponentTitle'
          },
          {
            title: 'foodType',
            icon: ' fa-carrot',
            type: 'foodType'
          }
        ]"
        (aciton)="navigateTO($event)"
      ></app-table>
    </div>
  </div>
</div>
