.la-trash-alt {
  color: black;
  &:hover {
    color: red;
    cursor: pointer;
  }
}
.la-edit {
  color: black;
  &:hover {
    color: rgb(255, 185, 33);
    cursor: pointer;
  }
}
.la-eye {
  color: black;
  &:hover {
    color: rgb(0, 174, 255);
    cursor: pointer;
  }
}
.fa-ruler {
  color: black;
  &:hover {
    color: rgb(243, 56, 23);
    cursor: pointer;
  }
}
.fa-store {
  color: black;
  &:hover {
    color: rgb(23, 170, 243);
    cursor: pointer;
  }
}

.fa-creative-commons-remix,
.fa-battle-net {
  color: black;
  &:hover {
    color: rgb(24, 126, 116);
    cursor: pointer;
  }
}
