<div class="card card-flush shadow-sm">
  <div class="card-header">
    <h3 class="card-title">{{ "menu.itemSize" | translate }}</h3>
    <div class="card-toolbar"></div>
  </div>
  <div class="card-body">
    <a class="btn btn-sm btn-primary mb-3" [routerLink]="'/item-size/create'">
      <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </a>
    <div class="card bg-secondary">
      <div class="card-body">
        <app-filter [filter]="filter"></app-filter>
      </div>
    </div>
    <app-table
      *ngIf="itemSizeList.length"
      [list]="itemSizeList"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigate($event, formMode.View)"
      (edit)="navigate($event, formMode.Edit)"
      [showDelete]="false"
      [showSearch]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
    >
    </app-table>
  </div>
</div>
