<!--begin::Form-->
<form
  class="form w-100"
  [formGroup]="loginForm"
  novalidate="novalidate"
  id="kt_login_signin_form"
  (ngSubmit)="submit()"
>
  <!--begin::Heading-->
  <div class="text-center mb-10">
    <h1 class="text-white mb-3">{{ "login.fasterLogin" | translate }}</h1>
    <!-- <div class="text-gray-400 fw-bold fs-4">
            New Here?
            <a routerLink="/auth/registration" id="kt_login_signup" class="link-primary fw-bolder">{{ "AUTH.GENERAL.SIGNUP_BUTTON" | translate }}</a
      >
    </div> -->
  </div>
  <!--end::Heading-->

  <!-- begin::Alert error-->
  <ng-container *ngIf="hasError">
    <div class="mb-lg-15 alert alert-danger">
      <div class="alert-text font-weight-bold">
        The login details are incorrect
      </div>
    </div>
  </ng-container>
  <!-- end::Alert error-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <label class="form-label fs-6 fw-bolder text-white">{{
      "login.usrName" | translate
    }}</label>
    <input
      class="form-control form-control-lg form-control-solid"
      [ngModelOptions]="{ standalone: true }"
      [(ngModel)]="user.username"
      type="text"
      name="username"
      autocomplete="off"
    />
  </div>
  <!--end::Form group-->

  <!--begin::Form group-->
  <div class="fv-row mb-10">
    <div class="d-flex justify-content-between mt-n5">
      <div class="d-flex flex-stack mb-2">
        <label class="form-label fw-bolder text-white fs-6 mb-0">{{
          "login.password" | translate
        }}</label>
      </div>
    </div>

    <input
      class="form-control form-control-lg form-control-solid"
      type="password"
      name="password"
      autocomplete="off"
      [(ngModel)]="user.password"
      [ngModelOptions]="{ standalone: true }"
    />
    <a
      routerLink="/auth/forgot-password"
      class="link-primary fs-6 fw-bolder"
      id="kt_login_forgot"
      [style.margin-left]="'5px'"
    >
      {{ "login.forgotPassword" | translate }}
    </a>
  </div>
  <!--end::Form group-->

  <!--begin::Action-->
  <div class="text-center">
    <button
      type="submit"
      [disabled]="isLoading"
      (click)="submit()"
      class="btn btn-lg btn-primary w-100 mb-5"
    >
        <span class="indicator-progress" [style.display]="'block'" *ngIf="isLoading">
          Please wait...
          <span
            class="spinner-border spinner-border-sm align-middle ms-2"
          ></span>
        </span>
        <span class="indicator-label" *ngIf="!isLoading">{{ "login.fasterLogin" | translate }}</span>
    </button>

    <!-- begin::Separator  -->
    <!-- <div class="text-center text-muted text-uppercase fw-bolder mb-5">or</div> -->
    <!-- end::Separator  -->

    <!-- <a class="
        btn btn-flex
        flex-center
        btn-light btn-lg
        w-100
        mb-5
        cursor-pointer
      ">
            <img class="h-20px me-3" src="./assets/media/svg/brand-logos/google-icon.svg" /> Continue with Google
        </a> -->
  </div>
  <!--end::Action-->
</form>
<!--end::Form-->

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <span role="alert">
        {{ message }}
      </span>
    </div>
  </ng-container>
</ng-template>
