<div class="card shadow-sm">
  <div class="card-body">
    <!-- <a
      class="btn btn-sm btn-primary mb-3"
      [routerLink]="'/general-suggest/create'"
    >
    <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </a> -->
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <label class="form-label">{{
              "global.userType" | translate
            }}</label>
            <select
              [(ngModel)]="filter.UserTypeName"
              class="form-select form-select-solid"
            >
              <option [value]="'Customer'">
                {{ "field.customer" | translate }}
              </option>
              <option [value]="'Provider'">
                {{ "global.provider" | translate }}
              </option>
            </select>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-12">
            <label class="form-label">{{ "cobone.status" | translate }}</label>
            <select
              [(ngModel)]="filter.Status"
              class="form-select form-select-solid"
            >
              <option [value]="'New'">
                {{ "field.new" | translate }}
              </option>
              <option [value]="'Opened'">
                {{ "field.opened" | translate }}
              </option>
              <option [value]="'Finished'">
                {{ "field.finished" | translate }}
              </option>
            </select>
          </div>
        </app-filter>
      </div>
    </div>
    <app-table
      [filter]="filter"
      [list]="generalSuggestlist"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigate($event, formMode.View)"
      (edit)="navigate($event, formMode.Edit)"
      (delete)="deleteRow($event)"
      [showSearch]="true"
      [showEdit]="true"
      [showView]="true"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
    >
    </app-table>
  </div>
</div>
