<div class="card shadow-sm">
  <div class="card-body">
    <a
      class="btn btn-sm btn-primary mb-3"
      target="_blank"
      [routerLink]="'/salaries/create'"
    >
      <i class="fas fa-plus"></i>
      {{ "action.create" | translate }}
    </a>
    <div class="card bg-light">
      <div class="card-body">
        <app-filter [filter]="filter">
          <div class="col-lg-3 col-md-6 col-sm-12">
            <label class="mb-2"> {{ "field.salaryType" | translate }}</label>
            <select
              [(ngModel)]="filter.MotivationType"
              class="form-select form-select-solid"
            >
              <option [value]="''">
                {{ "field.all" | translate }}
              </option>
              <option [value]="shop.id" *ngFor="let shop of MotivationTypes">
                {{ currentLanguage == "en" ? shop.name : shop.nameAr }}
              </option>
            </select>
          </div>
        </app-filter>
      </div>
    </div>
    <app-table
      [filter]="filter"
      [list]="motivationList"
      [titles]="titles"
      [properties]="properties"
      [busyLoading]="busyLoading"
      [pagination]="pagination"
      (activetedPageSize)="setPageSize($event)"
      (activetedPageNumber)="setPageNumber($event)"
      (view)="navigateToView($event)"
      (edit)="navigateToEdit($event)"
      (delete)="deleteMotivation($event)"
      [showSearch]="true"
      [showEdit]="false"
      (search)="searchValue()"
      (resetFilter)="resetfilter()"
      [addActions]="true"
      [actionList]="[
        { title: 'action.duplicate', icon: 'fa-copy', type: 'duplicate' },
        { title: 'field.evaluate', icon: 'fa-calendar-check', type: 'evaluate' }
      ]"
      (aciton)="navigateTO($event)"
    ></app-table>
  </div>
</div>
