<div class="card card-flush shadow-sm">
    <div class="card-header">
      <h3 class="card-title">
        <span class="mx-2"> {{ "menu.motivations" | translate }} </span>
      </h3>
    </div>
    <div class="card-body">
  
  
      <form [formGroup]="form">
        <div class="row my-5">
          <div class="col-md-6 col-sm-12">
            <label class="form-label d-block">{{
              "field.StartDate" | translate
            }}</label>
            <p-calendar
              formControlName="startAt"
              [showTime]="true"
              inputId="time"
            ></p-calendar>
            <div
              *ngIf="
                !form.get('startAt').valid &&
                (form.get('startAt').dirty || form.get('startAt').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('startAt').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label d-block">{{
              "field.EndDate" | translate
            }}</label>
            <p-calendar
              formControlName="endAt"
              [showTime]="true"
              inputId="time"
            ></p-calendar>
            <div
              *ngIf="
                !form.get('endAt').valid &&
                (form.get('endAt').dirty || form.get('endAt').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('endAt').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="row my-5">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{
              "field.description" | translate
            }}</label>
            <input
              type="text"
              formControlName="description"
              class="form-control form-control-solid"
              placeholder="{{ 'field.description' | translate }}"
            />
            <div
              *ngIf="
                !form.get('description').valid &&
                (form.get('description').dirty || form.get('description').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('description').hasError('required')">
                {{ "_.required" | translate }}
              </p>
              <p *ngIf="form.get('description').hasError('pattern')">
                {{ "_.only_en" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label"
              >{{ "field.description" | translate }} ع</label
            >
            <input
              type="text"
              formControlName="descriptionAr"
              class="form-control form-control-solid"
              placeholder="{{ 'field.description' | translate }} ع"
            />
            <div
              *ngIf="
                !form.get('descriptionAr').valid &&
                (form.get('descriptionAr').dirty ||
                  form.get('descriptionAr').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('descriptionAr').hasError('required')">
                {{ "_.required" | translate }}
              </p>
              <p *ngIf="form.get('descriptionAr').hasError('pattern')">
                {{ "_.only_ar" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="row my-5">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{
              "field.orderTarget" | translate
            }}</label>
            <input
              type="number"
              formControlName="orderTarget"
              class="form-control form-control-solid"
              placeholder="{{ 'field.orderTarget' | translate }}"
            />
            <div
              *ngIf="
                !form.get('orderTarget').valid &&
                (form.get('orderTarget').dirty || form.get('orderTarget').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('orderTarget').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label"
              >{{ "field.motivationAmount" | translate }}
            </label>
            <input
              type="number"
              formControlName="motivationAmount"
              class="form-control form-control-solid"
              placeholder="{{ 'field.motivationAmount' | translate }}"
            />
            <div
              *ngIf="
                !form.get('motivationAmount').valid &&
                (form.get('motivationAmount').dirty ||
                  form.get('motivationAmount').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('motivationAmount').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="row my-5">
          <div class="col-md-6 col-sm-12">
            <label class="form-label">{{
              "field.AcceptanceRate" | translate
            }}</label>
            <input
              type="number"
              formControlName="acceptancPercentageTarget"
              class="form-control form-control-solid"
              placeholder="{{ 'field.AcceptanceRate' | translate }}"
            />
            <div
              *ngIf="
                !form.get('acceptancPercentageTarget').valid &&
                (form.get('acceptancPercentageTarget').dirty ||
                  form.get('acceptancPercentageTarget').touched)
              "
              class="text text-danger"
            >
              <p
                *ngIf="form.get('acceptancPercentageTarget').hasError('required')"
              >
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
          <div class="col-md-6 col-sm-12">
            <label class="form-label"
              >{{ "field.onLineMinutesTarget" | translate }}
            </label>
            <input
              type="number"
              formControlName="onLineMinutesTarget"
              class="form-control form-control-solid"
              placeholder="{{ 'field.onLineMinutesTarget' | translate }}"
            />
            <div
              *ngIf="
                !form.get('onLineMinutesTarget').valid &&
                (form.get('onLineMinutesTarget').dirty ||
                  form.get('onLineMinutesTarget').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('onLineMinutesTarget').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        <div class="row">
      
          <div class="col-md-6 col-sm-12">
            <p>{{ "field.motivationType" | translate }}</p>
            <div class="row">
              <div class="col-4 mx-auto">
                <label class="form-check form-check-custom form-check-solid">
                  <input
                    class="form-check-input mx-2"
                    type="radio"
                    [value]="1"
                    name="motivationType"
                    formControlName="motivationType"
                  />
                  <span class="form-check-label">
                    {{ "field.bonus" | translate }}
                  </span>
                </label>
              </div>
              <div class="col-4 mx-auto">
                <label class="form-check form-check-custom form-check-solid">
                  <input
                    class="form-check-input mx-2"
                    type="radio"
                    [value]="2"
                    name="motivationType"
                    formControlName="motivationType"
                  />
                  <span class="form-check-label">
                    {{ "field.guarantee" | translate }}
                  </span>
                </label>
              </div>
            </div>
            <div
              *ngIf="
                !form.get('motivationType').valid &&
                (form.get('motivationType').dirty ||
                  form.get('motivationType').touched)
              "
              class="text text-danger"
            >
              <p *ngIf="form.get('motivationType').hasError('required')">
                {{ "_.required" | translate }}
              </p>
            </div>
          </div>
        </div>
  
        
      </form>
  
    
  
  
      <div class="row mt-5">
        <div class="table-responsive" *ngIf="motivationReportResult.length">
          <table
            class="table table-hover table-rounded table-striped border gy-7 gs-7"
          >
            <thead>
              <tr class="">
                <th class="text-center">
                  {{ "field.ProviderId" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.ProviderFullName" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.ProviderPhone" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.totalAmountDesirved" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.acceptancePercentageTarget" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.active" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.Desirved" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.onLineMinutesTarget" | translate }}
                </th>
                <th class="text-center">
                  {{ "field.orderTarget" | translate }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of motivationReportResult; let i = index"
                class="slideDown"
              >
              <td class="text-center">
                {{ item.providerId }}
              </td>
              <td class="text-center">
                {{ item.providerName }}
              </td>
              <td class="text-center">
                {{ item.providerPhone }}
              </td>
              <td class="text-center">
                {{ item.totalAmountDesirved }}
              </td>
                <td class="text-center">
                  {{ item.acceptancPercentageTarget }}
                </td>
                <td class="text-center">
                  {{ item.isActive }}
                </td>
                <td class="text-center">
                  {{ item.isDesirved }}
                </td>
                <td class="text-center">
                  {{ item.onLineMinutesTarget }}
                </td>
                <td class="text-center">
                  {{ item.orderTarget }}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  
  
    </div>
  </div>
  