<div
  [ngClass]="headerContainerCssClasses"
  style="/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14.1px);
-webkit-backdrop-filter: blur(14.1px);
border: 1px solid rgba(255, 255, 255, 0.3); box-shadow: 0px 4px 15px 0px #00000061"
  class="d-flex align-items-stretch justify-content-between align-items-center"
>
  <div class="p-2">
    <h1 class="display-6">
      {{ pageTitle }}
    </h1>
  </div>
  <div class="p-2">
    <app-topbar class="d-flex align-items-stretch flex-shrink-0"></app-topbar>
  </div>
  <!-- begin::Aside mobile toggle -->
  <ng-container *ngIf="asideDisplay">
    <div
      class="d-flex align-items-center d-lg-none ms-n3 me-1"
      title="Show aside menu"
    >
      <div
        class="btn btn-icon btn-active-light-primary w-30px h-30px w-md-40px h-md-40px"
        id="kt_aside_mobile_toggle"
      >
        <span
          [inlineSVG]="'./assets/media/icons/duotune/abstract/abs015.svg'"
          class="svg-icon svg-icon-2x mt-1"
        ></span>
      </div>
    </div>
  </ng-container>
  <!-- end::Aside mobile toggle -->

  <!-- begin::Logo -->
  <!-- <div class="d-flex align-items-center flex-grow-1 flex-lg-grow-0">
    <select
    [(ngModel)]="currentLang"
    (ngModelChange)="changeLanguage()"
    class="form-select form-select-solid"
  >
    <option [value]="'en'">
    {{ 'en' | translate}}
    </option>
    <option [value]="'ar'">
      {{ 'ar' | translate}}

      </option>
  </select>
  </div> -->
  <!-- end::Logo -->

  <!-- begin::Wrapper -->
  <!-- <div
    class="d-flex align-items-stretch justify-content-between flex-lg-grow-1"
  >
 

    <ng-container *ngIf="headerLeft === 'page-title'">
      <div class="d-flex align-items-center" id="kt_header_nav">
        <app-page-title
          #ktPageTitle
          class="page-title d-flex"
          [ngClass]="pageTitleCssClasses"
        ></app-page-title>
      </div>
    </ng-container>

  
  </div> -->
  <!-- end::Wrapper -->
</div>
